{% extends "layouts/admin.main.html" %} {% block title %} {% endblock %} {% block style %}
<style></style>
{% endblock %} {% block contents %}
<v-container class="h-100 align-content-center">
  <v-row align="center" justify="center">
    <v-col cols="12" sm="8" md="5">
      <v-card variant="outlined" rounded="lg">
        <v-card-title>
          <h1>Edit User</h1>
        </v-card-title>
        <v-spacer class="py-2"></v-spacer>
        <v-card-text>
          <v-form method="POST" actions="/user/edit/{{user.id}}">
            <v-text-field
              label="Email"
              append-inner-icon="mdi-email"
              name="email"
              required
              variant="outlined"
              model-value="{{user.email}}"
            ></v-text-field>
            <v-text-field
              label="Username"
              append-inner-icon="mdi-account"
              name="username"
              required
              variant="outlined"
              model-value="{{user.username}}"
            ></v-text-field>
            <v-text-field
              label="Password"
              type="password"
              append-inner-icon="mdi-lock"
              name="password"
              required
              variant="outlined"
            ></v-text-field>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn
                type="submit"
                min-width="120"
                color="primary"
                size="large"
                rounded="lg"
                variant="tonal"
                size="x-large"
                >Edit</v-btn
              >
            </v-card-actions>
          </v-form>
        </v-card-text>
      </v-card>
    </v-col>
  </v-row>
</v-container>
{% endblock %} {% block scripts %}
<script>
  const { createApp, ref } = Vue;
  const drawer = ref(null);

  const app = createApp({
    data: () => {
      return {
        drawer: null,
      };
    },
  }).use(vuetify);
  app.config.compilerOptions.delimiters = ['[[', ']]'];
  app.mount('#app');
</script>
{% endblock %}
