{% extends "layouts/admin.main.html" %} {% block title %} {% endblock %} {% block style %}
<style></style>
{% endblock %} {% block contents %}
<v-container class="h-100 align-content-center">
  <v-row justify="center">
    <v-col cols="12" sm="12" md="6">
      <v-card class="mx-auto px-10" variant="outlined">
        <v-card-title>
          <h1>Add Field</h1>
        </v-card-title>
        <v-card-subtitle>
          <h4 class="text-primary font-weight-thin">Enter field information in below form</h4>
        </v-card-subtitle>
        <v-spacer class="py-2"></v-spacer>
        <v-card-text>
          <v-form method="POST" action="/course/add">
            <v-text-field label="Subject" name="subject" required variant="outlined"></v-text-field>
            <v-select
              clearable
              label="Field"
              name="field_id"
              :items="fields"
              item-title="title"
              item-value="id"
              variant="outlined"
            ></v-select>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn
                type="submit"
                min-width="120"
                color="primary"
                size="large"
                rounded="lg"
                variant="tonal"
                size="x-large"
                >Add</v-btn
              >
            </v-card-actions>
          </v-form>
        </v-card-text>
      </v-card>
    </v-col>
    <v-col cols="12" sm="12" md="6">
      <v-card class="mx-auto" variant="outlined">
        <v-card-title>
          <h1>Courses List</h1>
        </v-card-title>
        <v-card-subtitle>
          <h4 class="text-primary font-weight-thin">Courses List</h4>
        </v-card-subtitle>
        <v-card-text>
          <v-data-table :headers="headers" :items="courses" :search="search">
            <template v-slot:item.delete="{ item }">
              <a class="text-decoration-none" color="error" :href="`/course/delete/${item.id}`">
                <v-btn icon="mdi-delete" variant="tonal" color="error" size="small"> </v-btn>
              </a>
            </template>
            <template v-slot:item.update="{ item }">
              <a class="text-decoration-none" color="error" :href="`/course/update/${item.id}`">
                <v-btn icon="mdi-circle-edit-outline" variant="tonal" color="primary" size="small">
                </v-btn>
              </a>
            </template>
          </v-data-table>
        </v-card-text>
      </v-card>
    </v-col>
  </v-row>
</v-container>
{% endblock %} {% block scripts %}
<script>
  const { createApp, ref } = Vue;
  const drawer = ref(null);

  const app = createApp({
    data() {
      return {
        drawer: null,
        search: '',
        headers: [
          { key: 'id', title: 'Id' },
          { key: 'subject', title: 'Subject' },
          { key: 'field_title', title: 'Field' },
          { key: 'created_at', title: 'Created At' },
          { key: 'updated_at', title: 'Updated At' },
          { text: 'delete', value: 'delete', sortable: false },
          { text: 'update', value: 'update', sortable: false },
        ],
        courses: {{courses | tojson}},
        fields: {{fields | tojson}},
      };
    },
  });
  app.use(vuetify);
  app.config.compilerOptions.delimiters = ['[[', ']]'];
  app.mount('#app');
</script>
{% endblock %}
